<%- include('./../layout/head') %>

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dashboard</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="persons/1">Person</a></li>
                    <li class="breadcrumb-item active">Create</li>
                </ol>
            </div>
        </div>
    </div>
</div>


<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><strong>Create Post</strong></h3>
            </div>
            <%- include('./../layout/alert-messages') %>
            <div class="card-body">
                <form action="<%= url('person/store') %>" method="POST">
                    <div class="row">
                        
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Name</label>
                                <input 
                                    name="name" 
                                    type="text" 
                                    class="form-control" 
                                    placeholder="Enter name"
                                    value="<% if (typeof fields !== 'undefined') { if (fields != null) { %><%= fields.name %><% } } %>">
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Age</label>
                                <input 
                                    name="age" 
                                    type="number" 
                                    class="form-control" 
                                    placeholder="Enter age"
                                    min="1"
                                    value="<% if (typeof fields !== 'undefined') { if (fields != null) { %><%= fields.age %><% } } %>">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Gender</label>
                                <select name="gender" class="form-control">
                                    <option value="male">MALE</option>
                                    <option value="female">FEMALE</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Eye Color</label>
                                <select name="eyeColor" class="form-control">
                                    <% if (typeof eyeColor !== 'undefined') { if (eyeColor != null) { %>
                                        <% eyeColor.forEach((item, index) => { %>
                                            <option value="<%= item %>"><%= upperCase(item) %></option>
                                        <% }) %>
                                    <% } } %>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Favourite Furit</label>
                                <select name="fruit" class="form-control">
                                    <% if (typeof fruit !== 'undefined') { if (fruit != null) { %>
                                        <% fruit.forEach((item, index) => { %>
                                            <option value="<%= item %>"><%= upperCase(item) %></option>
                                        <% }) %>
                                    <% } } %>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Tags</label>
                                <input 
                                    name="tags" 
                                    type="text" 
                                    class="form-control" 
                                    placeholder="Example enim, velit, ad, .."
                                    data-role="tagsinput"
                                    value="<% if (typeof fields !== 'undefined') { if (fields != null) { %><%= fields.tags %><% } } %>">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="card-header">
                                <h3 class="card-title"><strong>Company Details</strong></h3>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Title</label>
                                <input 
                                    name="title" 
                                    type="text" 
                                    class="form-control" 
                                    placeholder="Company title"
                                    value="<% if (typeof fields !== 'undefined') { if (fields != null) { %><%= fields.title %><% } } %>">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Email</label>
                                <input 
                                    name="email" 
                                    type="text" 
                                    class="form-control" 
                                    placeholder="Company email"
                                    value="<% if (typeof fields !== 'undefined') { if (fields != null) { %><%= fields.email %><% } } %>">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Phone</label>
                                <input 
                                    name="phone" 
                                    type="text" 
                                    class="form-control" 
                                    placeholder="Company phone"
                                    value="<% if (typeof fields !== 'undefined') { if (fields != null) { %><%= fields.phone %><% } } %>">
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Country</label>
                                <input 
                                    name="country" 
                                    type="text" 
                                    class="form-control" 
                                    placeholder="Country"
                                    value="<% if (typeof fields !== 'undefined') { if (fields != null) { %><%= fields.country %><% } } %>">
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Address</label>
                                <input 
                                    name="address" 
                                    type="text" 
                                    class="form-control" 
                                    placeholder="address"
                                    value="<% if (typeof fields !== 'undefined') { if (fields != null) { %><%= fields.address %><% } } %>">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" name="isActive" class="custom-control-input" id="isActive">
                                    <label class="custom-control-label" for="isActive">Is Active</label>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <a href="<%= url('persons/1') %>" class="btn btn-default">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<%- include('./../layout/footer') %>

<script>

</script>