<%- include('./../layout/head') %>

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Persons</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                    <li class="breadcrumb-item active">Persons</li>
                </ol>
            </div>
        </div>
    </div>
</div>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa-solid fa-filter"></i>Filter
                        </h3>
                    </div>
                    <form action="<%= url('persons/1') %>" method="GET">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" id="name" name="name" value="<%= data.name %>" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="age">Age</label>
                                        <input id="age" name="age" type="number" class="form-control" value="<%= data.age %>" placeholder="Age" min="1" max="100">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Gender</label>
                                        <select class="form-control" name="gender">
                                            <option value="">Please Select</option>
                                            <option value="male"<% if(data.gender == "male") { %>
                                                selected
                                                <% } %>
                                                >Male</option>
                                            <option value="female"
                                            <% if(data.gender == "female") { %>
                                                selected
                                                <% } %>
                                            >Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Active</label>
                                        <select class="form-control" name="isActive">
                                            <option value="">Please Select</option>
                                            <option value="true"
                                            <% if(data.isActive == "true") { %>
                                                selected
                                                <% } %>
                                            >True</option>
                                            <option value="false"
                                            <% if(data.isActive == "false") { %>
                                                selected
                                                <% } %>
                                            >False</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="color">Eye Color</label>
                                        <select id="color" class="form-control" name="eyeColor" multiple>
                                            <% eyecolors.forEach(function(eyecolor) { %>
                                                <option value="<%= eyecolor %>"
                                                    <% if(data.eyeColor) { %>
                                                        <% if(data.eyeColor.includes(eyecolor)) { %>
                                                            selected
                                                        <% } %>
                                                    <% } %>
                                                    ><%= eyecolor %></option>
                                            <% }); %>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="fruit">Favorite Fruit</label>
                                        <select id="fruit" name="favoriteFruit" class="form-control" multiple>
                                            <% favfruits.forEach(function(favfruit) { %>
                                                <option value="<%= favfruit %>"
                                                    <% if(data.favoriteFruit) { %>
                                                    <% if(data.favoriteFruit.includes(favfruit)) { %>
                                                        selected
                                                        <% } %>
                                                    <% } %>
                                                    ><%= favfruit %></option>
                                            <% }); %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer float-right">
                            <a href="/persons/1" class="btn btn-primary">Reset</a>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-12">
                <%- include('./../layout/alert-messages') %>
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">
                            Persons
                        </h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Age</th>
                                    <th>Gender</th>
                                    <th>Eye Color</th>
                                    <th>Favorite Fruit</th>
                                    <th>Is Active</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% persons.forEach((person, index) => { %>
                                <tr>
                                    <td><%= person.name %></td>
                                    <td><%= person.age %></td>
                                    <td><%= person.gender %></td>
                                    <td><%= person.eyeColor %></td>
                                    <td><%= person.favoriteFruit %></td>
                                    <td><%= person.isActive %></td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer clearfix">
                        <% if (pages > 0) { %>
                            <ul class="pagination pagination-sm m-0 float-right">
                                <% if (current == 1) { %>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">First</a></li>
                                <% } else { %>
                                    <li class="page-item"><a  class="page-link" href="/persons/1?<%= filters %>">First</a></li>
                                <% } %>
                                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                <% if (i !== 1) { %>
                                    <li class="disabled"><a>...</a></li>
                                <% } %>
                                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                    <% if (i == current) { %>
                                        <li class="page-item active"><a class="page-link" href="javascript:void(0);"><%= i %></a></li>
                                    <% } else { %>
                                        <li class="page-item"><a class="page-link" href="/persons/<%= i %>?<%= filters %>"><%= i %></a></li>
                                    <% } %>
                                    <% if (i == Number(current) + 4 && i < pages) { %>
                                        <li class="disabled"><a>...</a></li>
                                    <% } %>
                                <% } %>
                                <% if (current == pages) { %>
                                    <li class="page-item"><a class="page-link" href="javascript:void(0);">Last</a></li>
                                <% } else { %>
                                    <li  class="page-item"><a class="page-link" href="/persons/<%= pages %>?<%= filters %>">Last</a></li>
                                <% } %>
                            </ul>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include('./../layout/footer') %>