<% if(typeof messages.success !=='undefined') { %>
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert"
            aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-ban"></i> Alert!</h5>
        <%= messages.success %>
    </div>
    <br>
<% } %>

<% if(typeof messages.message !=='undefined' ) { %>
    <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert"
            aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-ban"></i> Alert!</h5>
        <%= messages.message %>
    </div>
    <br>
<% } %>

<% if (typeof messages.errors !== 'undefined' ) { %>
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert"
            aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-ban"></i> Alert!</h5>
        <ul>
            <% messages.errors.forEach((e) => { %>
                <li>
                    <%= e.msg %>
                </li>
            <% }) %>
        </ul>
    </div>
<% } %>

<% if (typeof messages.validation_errors !== 'undefined' ) { %>
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert"
            aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-ban"></i> Alert!</h5>
        <ul>
            <% messages.validation_errors.forEach((e) => { %>
                <li>
                    <%= e %>
                </li>
            <% }) %>
        </ul>
    </div>
<% } %>

<% if (typeof messages.error !== 'undefined' ) { %>
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert"
            aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-ban"></i> Alert!</h5>
        <ul>
            <%= messages.error %>
        </ul>
    </div>
<% } %>